<div class="background">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="/image/burger-logo.png" alt="burger-logo">
                <p id="slogen">Eat-Da-Burger!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" id="not-devoured">
                <ul> 
                    {{#each burgers}} {{#unless devoured}}
                    <li>
                        <button class="burger-list btn btn-success btn-lg">{{id}}. {{burger_name}}</button>
                        <button class="devour btn btn-danger" data-id="{{id}}">EAT</button>
                    </li>
                    {{/unless}} {{/each}}
                </ul>
            </div>
            <div class="col-sm-6" id="devoured">
                <ul>
                    {{#each burgers}} {{#if devoured}}
                    <li>
                        <button class="burger-list btn btn-warning btn-lg">{{id}}. {{burger_name}}</button>
                        <button class="delete btn btn-danger" data-id="{{id}}">delete</button>
                    </li>
                    {{/if}} {{/each}}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 create-div">
                <form class="create-form">
                    <input type="text" id="new" name="new-burger">
                    <br>
                    <button type="submit" class="btn btn-danger">Submit</button>

                    <p class="instruction">Enter a burger you want to eat Click the "Submit" button</p>
                </form>
            </div>
        </div>
    </div>
</div>